# Android
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.iml

# Keystore files
*.jks
*.keystore

# Google Services (API KEY, FIREBASE E AFINS)
**/google-services.json
**/GoogleService-Info.plist

# Crashlytics
crashlytics-build.properties

# Firebase
firebase-appindexing.json

# Android Studio Profiling
*.hprof
.idea/misc.xml

# Log
*.log

# Mac
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python (se usar script)
__pycache__/
*.py[cod]
*$py.class

# Node (caso use)
node_modules/
npm-debug.log

# Others
*.apk
*.ap_
*.dex
*.class
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.swp

# Local env files
.env
.env.*
